@import "tailwindcss";

@variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --color-amber-50: rgb(255 251 235);
  --color-amber-200: rgb(254 230 133);
  --color-amber-600: rgb(225 113 0);
  --color-amber-700: rgb(187 77 0);
  --color-amber-800: rgb(151 60 0);
  --color-amber-900: rgb(123 51 6);
  --color-blue-50: rgb(239 246 255);
  --color-blue-100: rgb(219 234 254);
  --color-blue-200: rgb(190 219 255);
  --color-blue-600: rgb(21 93 252);
  --color-blue-700: rgb(20 71 230);
  --color-blue-800: rgb(25 60 184);
  --color-emerald-50: rgb(236 253 245);
  --color-emerald-100: rgb(208 250 229);
  --color-emerald-200: rgb(164 244 207);
  --color-emerald-600: rgb(0 153 102);
  --color-emerald-800: rgb(0 96 69);
  --color-gray-100: rgb(243 244 246);
  --color-gray-200: rgb(229 231 235);
  --color-gray-800: rgb(30 41 57);
  --color-green-100: rgb(220 252 231);
  --color-green-200: rgb(185 248 207);
  --color-green-700: rgb(0 130 54);
  --color-orange-100: rgb(255 237 212);
  --color-orange-800: rgb(159 45 0);
  --color-purple-50: rgb(250 245 255);
  --color-purple-100: rgb(243 232 255);
  --color-purple-200: rgb(233 212 255);
  --color-purple-300: rgb(218 178 255);
  --color-purple-400: rgb(194 122 255);
  --color-purple-600: rgb(152 16 250);
  --color-purple-700: rgb(130 0 219);
  --color-purple-800: rgb(110 17 176);
  --color-purple-900: rgb(89 22 139);
  --color-red-50: rgb(254 242 242);
  --color-red-700: rgb(193 0 7);
  --color-red-800: rgb(159 7 18);
  --color-slate-50: rgb(248 250 252);
  --color-slate-100: rgb(241 245 249);
  --color-slate-200: rgb(226 232 240);
  --color-slate-300: rgb(202 213 226);
  --color-slate-400: rgb(144 161 185);
  --color-slate-500: rgb(98 116 142);
  --color-slate-600: rgb(69 85 108);
  --color-slate-700: rgb(49 65 88);
  --color-slate-800: rgb(29 41 61);
  --color-slate-900: rgb(15 23 43);
  --color-yellow-50: rgb(254 252 232);
  --color-yellow-100: rgb(254 249 194);
  --color-yellow-200: rgb(255 240 133);
  --color-yellow-700: rgb(166 95 0);
  --color-yellow-800: rgb(137 75 0);
  --color-transparent: transparent;
  --color-black: rgb(0 0 0);
  --color-white: rgb(255 255 255);
}

[data-theme="dark"] {
  --color-amber-50: rgb(123 51 6);
  --color-amber-200: rgb(151 60 0);
  --color-amber-600: rgb(187 77 0);
  --color-amber-700: rgb(225 113 0);
  --color-amber-800: rgb(254 230 133);
  --color-amber-900: rgb(255 251 235);
  --color-blue-50: rgb(25 60 184);
  --color-blue-100: rgb(20 71 230);
  --color-blue-200: rgb(21 93 252);
  --color-blue-600: rgb(190 219 255);
  --color-blue-700: rgb(219 234 254);
  --color-blue-800: rgb(239 246 255);
  --color-emerald-50: rgb(0 96 69);
  --color-emerald-100: rgb(0 153 102);
  --color-emerald-200: rgb(164 244 207);
  --color-emerald-600: rgb(208 250 229);
  --color-emerald-800: rgb(236 253 245);
  --color-gray-100: rgb(30 41 57);
  --color-gray-200: rgb(229 231 235);
  --color-gray-800: rgb(243 244 246);
  --color-green-100: rgb(0 130 54);
  --color-green-200: rgb(185 248 207);
  --color-green-700: rgb(220 252 231);
  --color-orange-100: rgb(159 45 0);
  --color-orange-800: rgb(255 237 212);
  --color-purple-50: rgb(89 22 139);
  --color-purple-100: rgb(110 17 176);
  --color-purple-200: rgb(130 0 219);
  --color-purple-300: rgb(152 16 250);
  --color-purple-400: rgb(194 122 255);
  --color-purple-600: rgb(218 178 255);
  --color-purple-700: rgb(233 212 255);
  --color-purple-800: rgb(243 232 255);
  --color-purple-900: rgb(250 245 255);
  --color-red-50: rgb(159 7 18);
  --color-red-700: rgb(193 0 7);
  --color-red-800: rgb(254 242 242);
  --color-slate-50: rgb(15 23 43);
  --color-slate-100: rgb(29 41 61);
  --color-slate-200: rgb(49 65 88);
  --color-slate-300: rgb(69 85 108);
  --color-slate-400: rgb(98 116 142);
  --color-slate-500: rgb(144 161 185);
  --color-slate-600: rgb(202 213 226);
  --color-slate-700: rgb(226 232 240);
  --color-slate-800: rgb(241 245 249);
  --color-slate-900: rgb(248 250 252);
  --color-yellow-50: rgb(137 75 0);
  --color-yellow-100: rgb(166 95 0);
  --color-yellow-200: rgb(255 240 133);
  --color-yellow-700: rgb(254 249 194);
  --color-yellow-800: rgb(254 252 232);
  --color-transparent: transparent;
  --color-black: rgb(255 255 255);
  --color-white: rgb(0 0 0);
}
